.navbar {
  margin-bottom: 1em !important;
}

header.navbar {
  height: 40px;
  margin: 5px 20px;
}

div.menu .menu-item.tile.tile-centered {
  margin-top: 5px;
}

.menu.item-list {
  z-index: inherit;
  transform: none;
  min-height: 500px;
}

.footer-copyright {
  margin-top: 4em;
  bottom: 0;
  font-size: 14px;
}

.btn {
  padding: .15rem .4rem !important;
}

p {
  font-size: small;
}
